<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>myclass.mvc.servlet.loginservlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/JSP/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>